

.nav {
    display: flex;
    justify-content: space-evenly;
    background-color: hsl(251, 100%, 35%);
    align-items: center;
}

.nav-link {
    list-style-type: none;
    padding: 1rem;
}

a {
    text-decoration: none;
    font-family: Helvetica;
    font-size: 1.3rem;
    color: hsl(82, 100%, 50%);
}

a img {
    width: 5rem;
}